<div class="well sidebar-nav why-buy">
    <ol>
        <li><i class="fa fa-star"></i>5 star satisfaction</li>
        <li><i class="fa fa-truck"></i>Free delivery</li>
        <li>
            Payment Information<br>
            <img src="/img/ucommerce/cards.png" alt="We accept VISA, SOLO, PayPal, MasterCard" title="We accept VISA, SOLO, PayPal, MasterCard">
        </li>
    </ol>
    <p class="powered-by-ucommerce">
        <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank"><img src="/img/ucommerce/ucommerce.png" alt="Powered by uCommerce"></a>
    </p>
</div>

<div class="well sidebar-nav about">
    <h5>About Avenue Clothing</h5>
    <p>Avenue Clothing is an example store to demonstrate the simple -yet powerful e-commerce functionality uCommerce brings to Umbraco.</p>
    <p>All products listed are from existing retailers but no orders will be fulfilled.</p>
    <p>
        <a href="http://ucommerce.dk" class="btn btn-secondary" title="The most feature rich e-commerce package for Umbraco">More...</a>
    </p>
</div>

<div class="well sidebar-nav newsletter">
    <h5>Keep up-to-date</h5>
    <p>Sign up to our newsletter.</p>
    <form action="http://thesitedoctor.createsend.com/t/y/s/xbjtk/" method="post" class="validate">
        <div class="input-append input-group">
            <input type="email" name="cm-xbjtk-xbjtk" class="form-control required email">
            <span class="input-group-btn">
                <button class="btn btn-secondary btn-nopadding" type="submit">Go!</button>
            </span>
        </div>
    </form>
</div>