<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="AvenueClothing.Project.Website.Pipelines.CreateClientResourceBundles, AvenueClothing.Project.Website" patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>