<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component id="AvenueClothing.InstallationPipeline"
				   service="UCommerce.Pipelines.IPipeline`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], UCommerce"
				   type="AvenueClothing.Installer.Pipelines.Installation.InstallationPipeline, AvenueClothing.Installer">
      <parameters>
        <tasks>
          <array>
            <value>${AvenueClothing.InstallationPipeline.ClearSitecoreCache}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component id="AvenueClothing.InstallationPipeline.ClearSitecoreCache"
				   service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], UCommerce"
				   type="AvenueClothing.Installer.Pipelines.Installation.Tasks.ClearSitecoreCacheTask, AvenueClothing.Installer" />

  </components>
</configuration>