<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component id="AvenueClothing.InstallationPipeline"
				   service="Ucommerce.Pipelines.IPipeline`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
				   type="AvenueClothing.Installer.Pipelines.Installation.InstallationPipeline, AvenueClothing.Installer">
      <parameters>
        <tasks>
          <array>
            <value>${AvenueClothing.InstallationPipeline.CreateUcommerceSettings}</value>
            <value>${AvenueClothing.InstallationPipeline.CreateUcommerceCatalog}</value>
            <value>${AvenueClothing.InstallationPipeline.CreateMarketingCampaign}</value>
            <value>${AvenueClothing.InstallationPipeline.UpdateStandardValuesForDefinitions}</value>
            <value>${AvenueClothing.InstallationPipeline.RunScratchIndexer}</value>
            <value>${AvenueClothing.InstallationPipeline.SynchronizeSitecoreItems}</value>
            <value>${AvenueClothing.InstallationPipeline.ClearSitecoreCache}</value>
            <value>${AvenueClothing.InstallationPipeline.PublishMasterDatabase}</value>
            <value>${AvenueClothing.InstallationPipeline.MoveSitecoreConfigurationFiles}</value>
            <value>${AvenueClothing.InstallationPipeline.AddClientDependencyBundlesToIgnoreUrlPrefixes}</value>
            <value>${AvenueClothing.InstallationPipeline.RenameWebConfigIfMissing}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component id="AvenueClothing.InstallationPipeline.ClearSitecoreCache"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
				   type="AvenueClothing.Installer.Pipelines.Installation.Tasks.ClearSitecoreCacheTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.CreateUcommerceCatalog"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.CreateUcommerceCatalogTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.CreateMarketingCampaign"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.CreateMarketingCampaign, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.CreateUcommerceSettings"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.CreateUcommerceSettingsTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.MoveSitecoreConfigurationFiles"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.MoveSitecoreConfigurationFilesTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.PublishMasterDatabase"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.PublishMasterDatabaseTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.RunScratchIndexer"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.RunScratchIndexerTask, AvenueClothing.Installer" />

		<component id="AvenueClothing.InstallationPipeline.SynchronizeSitecoreItems"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.SynchronizeSitecoreItemsTask, AvenueClothing.Installer">
		</component>

    <component id="AvenueClothing.InstallationPipeline.UpdateStandardValuesForDefinitions"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.UpdateStandardValuesForDefinitionsTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.RenameWebConfigIfMissing"
       service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
       type="AvenueClothing.Installer.Pipelines.Installation.Tasks.RenameWebConfigIfMissingTask, AvenueClothing.Installer" />

    <component id="AvenueClothing.InstallationPipeline.AddClientDependencyBundlesToIgnoreUrlPrefixes"
               service="Ucommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Installer]], Ucommerce"
               type="AvenueClothing.Installer.Pipelines.Installation.Tasks.AddClientDependencyBundlesToIgnoreUrlPrefixesTask, AvenueClothing.Installer" />
  </components>
</configuration>