@model AvenueClothing.Project.Catalog.ViewModels.ProductPrimaryImageViewModel
@{
	Layout = null;
}

<div class="product-image" class="row">
	<div class="col-md-5">
		@Model.PrimaryImage
	</div>
</div>
