<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
				<configuration name="Project.AvenueClothing.Website" description="AvenueClothing content" >
					<targetDataStore physicalRootPath="$(sourceFolder)\project\AvenueClothing\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

						<include name="Website.Content" database="master" path="/sitecore/content"/>
						<include name="Templates" database="master" path="/sitecore/templates/User Defined"/>
						
					</predicate>
					<syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
				</configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>