@using System.Web.Mvc.Html 
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
	Layout = null;
}

<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="nav-collapse">
					<ul class="nav">
						<li>
							<h1>@Html.Sitecore().Field("Title")</h1>
							<p>@Html.Sitecore().Field("Body")</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>