@using System.Web.Mvc.Html 
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
	Layout = null;
}
@*<div class="navbar">
	<a class="col-md-3 navbar-brand" href="/">Avenue Clothing</a>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="nav-collapse">
						<ul class="nav">
							@Html.Sitecore().Placeholder("headerContent")
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>*@

<div class="navbar navbar-fixed-top">
	<div class="container">

		<div class="row">
			<div class="navbar-header">
				<a class="col-md-3 navbar-brand" href="/">Avenue Clothing</a>
			</div>

			@Html.Sitecore().Placeholder("header content")

		</div>
	</div>
</div>