@using System.Web.Mvc.Html
@{
	Layout = null;
}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="nav-collapse">
					<ul class="nav">
						<li>
							<a class="home" href="/">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>