@model IList<AvenueClothing.Feature.General.Module.ViewModels.BreadcrumbViewModel>
<ol class="breadcrumb">
    @foreach (var item in Model)
    {
        <li class="breadcrumb-item">
            @if (@item.IsActive)
            { @item.BreadcrumbName}
            else
            {
                <a href="@item.UcommerceBreadcrumbUrl">
                    @item.BreadcrumbName
                </a>
            }
        </li>
        }
</ol>