@using Sitecore.Mvc
@model AvenueClothing.Project.Transaction.ViewModels.ConfirmationViewModel
@{
	Layout = null;
}

<div class="alert alert-info">
	<h1>@Model.Headline</h1>
	<br />
	<p>@Model.Message</p>
</div>