<div class="col-sm-6 col-md-6">
    <p>
        © <a href="http://ucommerce.dk/" title="The most feature rich e-commerce package for Umbraco" target="_blank">uCommerce ApS</a>
    </p>
</div>
<div class="pull-right col-sm-6 col-md-6">
    <p>
        Store demo'd by <a href="http://www.thesitedoctor.co.uk/" title="The Site Doctor - Herefordshire based Web Design, Development and IT Consultancy" target="_blank">The Site Doctor</a> 2012
    </p>
</div>