@model AvenueClothing.Feature.Catalog.Module.ViewModels.ProductPrimaryImageViewModel

@{
	Layout = null;
}

<div id="product-details" class="row">
	<div class="col-md-5">
		@Model.PrimaryImage
	</div>
</div>
