<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component id="AvenueClothing.InstallationPipeline"
				   service="UCommerce.Pipelines.IPipeline`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
				   type="AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipeline, AvenueClothing.Foundation.Installer">
      <parameters>
        <tasks>
          <array>
            <value>${AvenueClothing.InstallationPipeline.CreateUCommerceSettings}</value>
            <value>${AvenueClothing.InstallationPipeline.CreateUCommerceCatalog}</value>
            <value>${AvenueClothing.InstallationPipeline.UpdateStandardValuesForDefinitions}</value>
            <value>${AvenueClothing.InstallationPipeline.RunScratchIndexer}</value>
            <value>${AvenueClothing.InstallationPipeline.SynchronizeSitecoreItems}</value>
            <value>${AvenueClothing.InstallationPipeline.ClearSitecoreCache}</value>
            <value>${AvenueClothing.InstallationPipeline.PublishMasterDatabase}</value>
            <value>${AvenueClothing.InstallationPipeline.MoveSitecoreConfigurationFiles}</value>
            <value>${AvenueClothing.InstallationPipeline.RenameWebConfigIfMissing}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component id="AvenueClothing.InstallationPipeline.ClearSitecoreCache"
				   service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
				   type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.ClearSitecoreCacheTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.CreateUCommerceCatalog"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.CreateUCommerceCatalogTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.CreateUCommerceSettings"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.CreateUCommerceSettingsTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.MoveSitecoreConfigurationFiles"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.MoveSitecoreConfigurationFilesTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.PublishMasterDatabase"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.PublishMasterDatabaseTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.RunScratchIndexer"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.RunScratchIndexerTask, AvenueClothing.Foundation.Installer" />

		<component id="AvenueClothing.InstallationPipeline.SynchronizeSitecoreItems"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.SynchronizeSitecoreItemsTask, AvenueClothing.Foundation.Installer">
		</component>

    <component id="AvenueClothing.InstallationPipeline.UpdateStandardValuesForDefinitions"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.UpdateStandardValuesForDefinitionsTask, AvenueClothing.Foundation.Installer" />

    <component id="AvenueClothing.InstallationPipeline.RenameWebConfigIfMissing"
       service="UCommerce.Pipelines.IPipelineTask`1[[AvenueClothing.Foundation.Installer.Pipelines.Installation.InstallationPipelineArgs, AvenueClothing.Foundation.Installer]], UCommerce"
       type="AvenueClothing.Foundation.Installer.Pipelines.Installation.Tasks.RenameWebConfigIfMissingTask, AvenueClothing.Foundation.Installer" />

  </components>
</configuration>