@model AvenueClothing.Project.Catalog.ViewModels.CategoryRenderingViewModel
@using Sitecore.Mvc

<div class="category">
    <div class="row">
        <div class="product-list col-sm-12 col-md-12">
            @if (Model.ProductItemGuids.Count > 0)
            {
                foreach (var productGuid in Model.ProductItemGuids)
                {
                    @Html.Sitecore().Rendering(Model.ProductCardRendering, new { productGuid });
                }
            }
            else
            {
                <p>The search returned no results.</p>
            }
        </div>
    </div>
</div>