@model AvenueClothing.Feature.Transaction.Module.ViewModels.AddToBasketButtonViewModel

@{
    Layout = null;
}

<button class="js-add-to-basket-button" data-product-sku="" data-variant-sku="" data-quantity="" data-add-to-basket-url="@Model.AddToBasketUrl" data-validate-product-exists-url="@Model.ValidateProductExistsUrl">Add To Basket</button>