<configuration>
	<components>
		
		<component
      id="AvenueClothing.SynchronizeSitecoreService"
      service="AvenueClothing.Foundation.Installer.Services.SynchronizeSitecoreService, AvenueClothing.Foundation.Installer"
      type="AvenueClothing.Foundation.Installer.Services.SynchronizeSitecoreService, AvenueClothing.Foundation.Installer" />
		
	</components>
</configuration>