<configuration>
	<components>
		
		<component
      id="AvenueClothing.SynchronizeSitecoreService"
      service="AvenueClothing.Installer.Services.SynchronizeSitecoreService, AvenueClothing.Installer"
      type="AvenueClothing.Installer.Services.SynchronizeSitecoreService, AvenueClothing.Installer" />
		
	</components>
</configuration>