<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
				<configuration name="Project.AvenueClothing.Website" description="AvenueClothing content" >
					<targetDataStore physicalRootPath="$(sourceFolder)\project\AvenueClothing-CommerceConnect\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

						<include name="Avenue Clothing" database="master" path="/sitecore/content"/>
						<include name="Templates" database="master" path="/sitecore/templates/Common"/>
						<include name="Renderings" database="master" path="/sitecore/Layout/Renderings"/>
						<include name="Layouts" database="master" path="/sitecore/Layout/Layouts"/>
						<include name="Placeholder Settings" database="master" path="/sitecore/Layout/Placeholder Settings"/>
						<include name="Images" database="master" path="/sitecore/media library/Images"/>
						
					</predicate>
					<syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
				</configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>