@model AvenueClothing.Feature.Transaction.ViewModels.QuantityPickerRenderingViewModel
@{
    Layout = null;
}
<div>@Model.QuantityLabel</div>
<div class="dropdown">
        <select class="js-quantity-picker" data-product-sku="@Model.ProductSku">
            <option class="dropdown-menu" value="">-- Please Select --</option>
             @for (int number = 1; number <= Model.MaxNumberOfItems; number++)
            {
                <option value="@number">@(number)</option>
            }
        </select>
    </div>