<configuration>
  <components>
    <component
      id="AvenueClothing.Initialize.RunAvenueClothingInstaller"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
      type="AvenueClothing.Foundation.Installer.Pipelines.Initialize.RunAvenueClothingInstallerTask, AvenueClothing.Foundation.Installer">
      <parameters>
        <installationPipeline>${AvenueClothing.InstallationPipeline}</installationPipeline>
      </parameters>
    </component>
  
    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${AvenueClothing.Initialize.RunAvenueClothingInstaller}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
  </components>
</configuration>