@using System.Web.Mvc.Html
@using AvenueClothing.Feature.Catalog.Module.ViewModels
@using Sitecore.Mvc

@model AvenueClothing.Feature.Catalog.Module.ViewModels.CategoryViewModel
@{
    Layout = null;
}

<h1>@Html.Sitecore().Field("Name")</h1>

<div class="row">
	<div class="product-list col-sm-12 col-md-12">
		@foreach (var productId in Model.ProductIds)
		{
			@Html.Sitecore().ControllerRendering("ProductCard", "ProductCard", new { productId = productId });
		}
	</div>
</div>