@using System.Web.Mvc.Html
@using AvenueClothing.Feature.Catalog.Module.ViewModels
@using Sitecore.Mvc

@model AvenueClothing.Feature.Catalog.Module.ViewModels.CategoryViewModel
@{
	Layout = null;
}

<h1>@Html.Sitecore().Field("Name")</h1>


@Html.Sitecore().Rendering("FEBEE42A-F312-47E7-BA47-0AEDECBFB9D5", Model.ProductItemGuids);
