@using Sitecore.Mvc
@model AvenueClothing.Feature.Catalog.Module.ViewModels.HomepageCatalogViewModel

@{
    Layout = null;
}

<div>HOMEPAGE CATALOG</div>
@foreach (var p in Model.Products)
{
    @Html.Sitecore().Rendering("9851F13D-1DC8-4D36-8C99-6C2E42D115B8", new { productId = p.Id});
}