@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@{
	Layout = null;
	var productItems = RenderingContext.Current.Rendering.Properties["productItemGuids"];
}
<div class="row">
	<div class="product-list col-sm-12 col-md-12">
		@foreach (var productItem in productItems)
		{
			@Html.Sitecore().ControllerRendering("ProductCard", "ProductCard", new { productItem })
		}
	</div>
</div>