@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    Layout = null;
}

<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <a class="col-md-4 navbar-brand" href="/">
                <span>Avenue Clothing</span>
            </a>
            @Html.Sitecore().Placeholder("header content")
        </div>
    </div>
</div>