@model AvenueClothing.Feature.Catalog.Module.ViewModels.QuantityPickerRenderingViewModel

@{
    Layout = null;
}

<select class="js-quantity-picker" data-product-sku="@Model.ProductSku">
    @for (int number = 1; number <= Model.MaxNumberOfItems; number++)
    {
        <option value="@number">@(number)</option>
    }
</select>