@using Sitecore.Mvc

<div class="product-detail">
    <div class="col-lg-6">
        @Html.Sitecore().Placeholder("left")
    </div>
    <div class="col-lg-6">
        @Html.Sitecore().Placeholder("right")
    </div>
</div>