<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="col-sm-6">
    @Html.Sitecore().Placeholder("left")
</div>
<div class="col-sm-6">
    @Html.Sitecore().Placeholder("right")
</div>
<div class="col-sm-12">
        @Html.Sitecore().Placeholder("bottom")
    </div>
</body>
</html>
