<form class="pull-xs-left form-inline navbar-form search-form" action="/search">
    <div class="input-append input-group">
        <input type="text" name="search" class="form-control site-search" placeholder="Search the store" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-link btn-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</form>
