@{
    Layout = null;
}

<div class="col-sm-12 well margin-top">
    @Html.Sitecore().Placeholder("product well top")
    <div class="col-sm-6 margin-top-for-price">
        @Html.Sitecore().Placeholder("product well left")
    </div>
    <div class="col-sm-6">
        @Html.Sitecore().Placeholder("product well right")
    </div>
    @Html.Sitecore().Placeholder("product well bottom")
</div>