<configuration>
  <components>
    <component 
      id="AvenueClothing.Initialize.RunAvenueClothingInstaller"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
      type="AvenueClothing.Installer.Pipelines.Initialize.RunAvenueClothingInstallerTask, AvenueClothing.Installer" />
  </components>
</configuration>