<configuration>
  <components>
    <component
      id="AvenueClothing.Initialize.RunAvenueClothingInstaller"
      service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
      type="AvenueClothing.Installer.Pipelines.Initialize.RunAvenueClothingInstallerTask, AvenueClothing.Installer">
      <parameters>
        <installationPipeline>${AvenueClothing.InstallationPipeline}</installationPipeline>
      </parameters>
    </component>

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${AvenueClothing.Initialize.RunAvenueClothingInstaller}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
  </components>
</configuration>