@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation


@{
	var datasource = RenderingContext.Current.Rendering.DataSource;

	Database database = Sitecore.Context.Database;
	RenderingContext.Current.ContextItem = database.GetItem(datasource);
	var nextItemId = @Html.Sitecore().Field("Link");
	var nextItemPath = Sitecore.Links.LinkManager.GetItemUrl(database.GetItem(nextItemId.ToString()));
	Layout = null;
}

<div class="pull-xs-right">
	<a href="@nextItemPath" class="btn btn-secondary btn-large btn-success">@Html.Sitecore().Field("Label")<i class="fa fa-arrow-right icon-white"></i></a>
</div>